testalustacurrency.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Data" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="CurrencyCodeTo"/>
              <xs:element type="xs:string" name="CurrencyCodeFrom"/>
              <xs:element type="xs:date" name="ValidFrom"/>
              <xs:element type="xs:float" name="Rate"/>
              <xs:element type="xs:short" name="Company"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>